/* Style for the table */
table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* Style for table header */
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  /* Style for table cells */
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Style for the "Add to Group" button */
  .add-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Style for the "Group is full" message */
  .full-message {
    color: red;
    font-weight: bold;
  }
  